<?xml version="1.0" encoding="UTF-8"?>
<mx:collection xmlns:mx="http://www.loc.gov/MARC21/slim">
    <mx:record format="MARC21" type="Bibliographic">
        <mx:leader>00000nkm a22000004c 4500</mx:leader>
        <mx:controlfield tag="001">000062918</mx:controlfield>
        <mx:controlfield tag="007">ku||||</mx:controlfield>
        <mx:controlfield tag="008">000000s2004 dk |||| ||||| |||k|dan|d</mx:controlfield>
        <mx:datafield ind1="1" ind2=" " tag="100">
            <mx:subfield code="a">Larsen, Henning</mx:subfield>
        </mx:datafield>
        <mx:datafield ind1="1" ind2="0" tag="245">
            <mx:subfield code="a">Frederiksberg Gymnasium</mx:subfield>
        </mx:datafield>
        <mx:datafield ind1=" " ind2=" " tag="300">
            <mx:subfield code="a">arkitekturmodel</mx:subfield>
        </mx:datafield>
        <mx:datafield ind1="1" ind2="4" tag="600">
            <mx:subfield code="a">Larsen, Henning,</mx:subfield>
            <mx:subfield code="d">1925-2013</mx:subfield>
        </mx:datafield>
        <mx:datafield ind1=" " ind2="4" tag="651">
            <mx:subfield code="a">Frederiksberg</mx:subfield>
        </mx:datafield>
        <mx:datafield ind1=" " ind2="4" tag="651">
            <mx:subfield code="a">Falkonér Plads</mx:subfield>
            <mx:subfield code="x">2</mx:subfield>
        </mx:datafield>
    </mx:record>
</mx:collection>