set server-config.jms-service.type=REMOTE --passwordfile=./passfile.txt
set server-config.jms-service.jms-host.default_JMS_host.host=search_fbstest_holdings-items-mq --passwordfile=./passfile.txt
set server-config.jms-service.jms-host.default_JMS_host.port=7676 --passwordfile=./passfile.txt
