<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright Dansk Bibliotekscenter a/s. Licensed under GNU GPLv3
  ~ See license text in LICENSE.txt
  -->

<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_1.xsd"
             version="2.1">
  <persistence-unit name="tickleRepoPU" transaction-type="RESOURCE_LOCAL">
    <class>dk.dbc.ticklerepo.dto.DataSet</class>
    <class>dk.dbc.ticklerepo.dto.BatchTypeConverter</class>
    <class>dk.dbc.jsonb.JsonConverter</class>
    <class>dk.dbc.ticklerepo.dto.Batch</class>
    <class>dk.dbc.ticklerepo.dto.RecordStatusConverter</class>
    <class>dk.dbc.ticklerepo.dto.Record</class>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="none"/>
    </properties>
  </persistence-unit>
</persistence>
