<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE resources PUBLIC "-//GlassFish.org//DTD GlassFish Application Server 3.1 Resource Definitions//EN" "http://glassfish.org/dtds/glassfish-resources_1_5.dtd">
<resources>
  <jdbc-connection-pool datasource-classname="oracle.jdbc.xa.client.OracleXADataSource" name="jdbc/dataio/sinks/es/test/pool" res-type="javax.sql.XADataSource">
      <property name="DataSourceName" value="OracleXADataSource"></property>
      <property name="maxPoolSize" value="8"></property>
      <property name="ImplicitCachingEnabled" value="false"></property>
      <property name="NetworkProtocol" value="tcp"></property>
      <property name="LoginTimeout" value="0"></property>
      <property name="Password" value="{{getv "/dbc/es/env/password"}}"></property>
      <property name="URL" value="jdbc:oracle:thin:@{{getv "/dbc/es/env/oracle/host"}}:{{getv "/dbc/es/env/port"}}/{{getv "/dbc/es/env/tnsname"}}"></property>
      <property name="NativeXA" value="false"></property>
      <property name="User" value="{{getv "/dbc/es/env/user"}}"></property>
      <property name="PortNumber" value="0"></property>
      <property name="ExplicitCachingEnabled" value="false"></property>
      <property name="MaxStatements" value="0"></property>
  </jdbc-connection-pool>

  <jdbc-connection-pool validate-atmost-once-period-in-seconds="10" datasource-classname="oracle.jdbc.pool.OracleDataSource" name="dataioEsSinkPool" res-type="javax.sql.DataSource">
      <property name="URL" value="jdbc:oracle:thin:@{{getv "/dbc/es/env/oracle/host"}}:{{getv "/dbc/es/env/port"}}/{{getv "/dbc/es/env/tnsname"}}"></property>
      <property name="password" value="{{getv "/dbc/es/env/password"}}"></property>
      <property name="username" value="{{getv "/dbc/es/env/user"}}"></property>
   </jdbc-connection-pool>

  <jdbc-connection-pool validate-atmost-once-period-in-seconds="10" datasource-classname="org.postgresql.ds.PGSimpleDataSource" name="jdbc/dataio/sinks/esInFlight/pool" res-type="javax.sql.DataSource" is-connection-validation-required="true" connection-validation-method="meta-data">
      <property name="user" value="{{getv "/dbc/postgres/inflight/env/postgres/user"}}"></property>
      <property name="PortNumber" value="5432"></property>
      <property name="password" value="{{getv "/dbc/postgres/inflight/env/postgres/password"}}"></property>
      <property name="DriverClass" value="org.postgresql.Driver"></property>
      <property name="DatabaseName" value="{{getv "/dbc/postgres/inflight/env/postgres/db"}}"></property>
      <property name="serverName" value="{{getv "/dbc/postgres/inflight/env/postgres/host"}}"></property>
  </jdbc-connection-pool>

    <jdbc-resource pool-name="jdbc/dataio/sinks/esInFlight/pool" jndi-name="jdbc/dataio/dummy"></jdbc-resource>
    <jdbc-resource pool-name="jdbc/dataio/sinks/esInFlight/pool" jndi-name="jdbc/dataio/sinks/esInFlight"></jdbc-resource>
    <jdbc-resource pool-name="jdbc/dataio/sinks/es/test/pool" jndi-name="jdbc/dataio/sinks/es/es"></jdbc-resource>
    <jdbc-resource pool-name="dataioEsSinkPool" jndi-name="jdbc/dataioEsSink"></jdbc-resource>

</resources>
