# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
*.env
*.log
*.swp
*.iml
*.pyc
.idea
target
# jenv
.java-version
**/.iml
env-files
/environments/

cli/acc-test-runner/dependency-reduced-pom.xml

.claude/settings.local.json
.claude/skills/
