<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE resources PUBLIC "-//GlassFish.org//DTD GlassFish Application Server 3.1 Resource Definitions//EN" "http://glassfish.org/dtds/glassfish-resources_1_5.dtd">
<resources>
  <jdbc-connection-pool datasource-classname="org.postgresql.ds.PGSimpleDataSource" name="jdbc/dataio/fileStore/pool" res-type="javax.sql.DataSource">
      <property name="serverName" value="{{getv "/dbc/postgres/filestore/env/postgres/servername"}}"></property>
      <property name="DriverClass" value="org.postgresql.Driver"></property>
      <property name="PortNumber" value="{{getv "/dbc/postgres/filestore/env/postgres/port"}}"></property>
      <property name="password"     value="{{getv "/dbc/postgres/filestore/env/postgres/password"}}"></property>
      <property name="user"         value="{{getv "/dbc/postgres/filestore/env/postgres/user"}}"></property>
      <property name="DatabaseName" value="{{getv "/dbc/postgres/filestore/env/postgres/db"}}"></property>
  </jdbc-connection-pool>
  <jdbc-resource pool-name="jdbc/dataio/fileStore/pool" jndi-name="jdbc/dataio/fileStore"></jdbc-resource>
</resources>

