#main-panel {
    background-color: #f9f9f7;
}

#header-panel {
    background-color: #f2f0ec;
    color: #81a932;
    font-size: 12px;
    padding: 0.4em;
}

#navigation-panel {
    background-color: #f2f0ec;
    background-image: url('/dataio/gui/images/navigationbg.gif');
    background-repeat: repeat-y;
    background-position: right;
}
#navigation-panel button {
    background-color: #098dbd;
    background-image: none;
    color: white;
    width: 14em;
    margin: 0 0.5em ;
    text-align: left;
    font-size: 14px;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
}

#navigation-panel .gwt-Image {
    margin: 1.5em 0 3em 1.5em;
}

#navigationmenupanel {
    width: 90%;
    margin-left: 5%;
}

#navigationmenupanel .gwt-TreeItem {
    font-size: 16px;
    font-weight: bold;
}

#content-panel {
    margin: 0.5em;
}

#content-panel textarea, #content-panel input, #content-panel select {
    border: solid #4f6853 2px;
}

.gwt-Button {
    background-color: #f47321;
    background-image: none;
    color: white;
    margin: 0.3 1em ;
    font-size: 12px;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
}

.fixed-empty-listbox-width {
    width: 24em;
}

.dual-list-removeitem-class, .dual-list-additem-class {
    margin: 4px;
}

.dio-DataEntry {
    margin-bottom: 0.5em;
}

.dio-DataEntry-PromptLabelClass {
    width: 9em;
}
