create-custom-resource --restype=java.lang.String --passwordfile=./passfile.txt --factoryclass=org.glassfish.resources.custom.factory.PrimitivesAndStringFactory --property value="{{getv "/elk/url"}}"  url/dataio/elk