<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ DataIO - Data IO
  ~ Copyright (C) 2015 Dansk Bibliotekscenter a/s, Tempovej 7-11, DK-2750 Ballerup,
  ~ Denmark. CVR: 15149043
  ~
  ~ This file is part of DataIO.
  ~
  ~ DataIO is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ DataIO is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with DataIO.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE resources PUBLIC "-//GlassFish.org//DTD GlassFish Application Server 3.1 Resource Definitions//EN" "http://glassfish.org/dtds/glassfish-resources_1_5.dtd">
<resources>
  <jdbc-connection-pool validate-atmost-once-period-in-seconds="10" datasource-classname="org.postgresql.ds.PGSimpleDataSource" name="jdbc/tickle-repo/pool" res-type="javax.sql.DataSource" is-connection-validation-required="true" connection-validation-method="meta-data">
    <property name="user" value="{{getv "/dbc/tickle/env/postgres/user"}}"></property>
    <property name="PortNumber" value="5432"></property>
    <property name="password" value="{{getv "/dbc/tickle/env/postgres/password"}}"></property>
    <property name="DriverClass" value="org.postgresql.Driver"></property>
    <property name="DatabaseName" value="{{getv "/dbc/tickle/env/postgres/db"}}"></property>
    <property name="serverName" value="{{getv "/dbc/tickle/env/postgres/host"}}"></property>
  </jdbc-connection-pool>

  <jdbc-resource pool-name="jdbc/tickle-repo/pool" jndi-name="jdbc/tickle-repo"></jdbc-resource>

  <jdbc-connection-pool validate-atmost-once-period-in-seconds="10" datasource-classname="org.postgresql.xa.PGXADataSource" name="jdbc/dataio/harvester/tasks/pool" is-connection-validation-required="true" connection-validation-method="meta-data" res-type="javax.sql.XADataSource">
    <property name="user" value="{{getv "/dbc/harvester/tickle/env/postgres/user"}}"></property>
    <property name="PortNumber" value="5432"></property>
    <property name="password" value="{{getv "/dbc/harvester/tickle/env/postgres/password"}}"></property>
    <property name="DriverClass" value="org.postgresql.Driver"></property>
    <property name="DatabaseName" value="{{getv "/dbc/harvester/tickle/env/postgres/db"}}"></property>
    <property name="serverName" value="{{getv "/dbc/harvester/tickle/env/postgres/host"}}"></property>
  </jdbc-connection-pool>

  <jdbc-resource pool-name="jdbc/dataio/harvester/tasks/pool" jndi-name="jdbc/dataio/harvester/tasks"></jdbc-resource>
</resources>
