create-jvm-options --target server-config -Dhttps.proxyPort={{getv "/dmzproxy/https/port"}}
create-jvm-options --target server-config -Dhttps.proxyHost={{getv "/dmzproxy/https/host"}}
create-jvm-options --target server-config -Dhttps.nonProxyHosts=localhost|*.dbc.dk|*.addi.dk
create-jvm-options --target server-config -Dhttp.proxyPort={{getv "/dmzproxy/https/port"}}
create-jvm-options --target server-config -Dhttp.proxyHost={{getv "/dmzproxy/https/host"}}
create-jvm-options --target server-config -Dhttp.nonProxyHosts=localhost|*.dbc.dk|*.addi.dk