<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>FlowStoreProxyServlet</servlet-name>
        <servlet-class>dk.dbc.dataio.gui.server.FlowStoreProxyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JavaScriptProjectFetcher</servlet-name>
        <servlet-class>dk.dbc.dataio.gui.server.JavaScriptProjectFetcherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobStoreProxyServlet</servlet-name>
        <servlet-class>dk.dbc.dataio.gui.server.JobStoreProxyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TickleHarvesterProxyServlet</servlet-name>
        <servlet-class>dk.dbc.dataio.gui.server.TickleHarvesterProxyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobRerunProxyServlet</servlet-name>
        <servlet-class>dk.dbc.dataio.gui.server.JobRerunProxyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogStoreProxyServlet</servlet-name>
        <servlet-class>dk.dbc.dataio.gui.server.LogStoreProxyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FtpProxy</servlet-name>
        <servlet-class>dk.dbc.dataio.gui.server.FtpProxyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusServlet</servlet-name>
        <servlet-class>dk.dbc.dataio.gui.server.StatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UrlResolverProxyServlet</servlet-name>
        <servlet-class>dk.dbc.dataio.gui.server.UrlResolverProxyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UrlResolverServlet</servlet-name>
        <servlet-class>dk.dbc.dataio.gui.server.UrlResolverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigProxy</servlet-name>
        <servlet-class>dk.dbc.dataio.gui.server.ConfigProxyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dk.dbc.dataio.gui.Main PeriodicJobsHarvesterProxy</servlet-name>
        <servlet-class>dk.dbc.dataio.gui.server.PeriodicJobsHarvesterProxyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileStoreAddFileProxy</servlet-name>
        <servlet-class>dk.dbc.dataio.gui.server.FileStoreAddFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileStoreProxy</servlet-name>
        <servlet-class>dk.dbc.dataio.gui.server.FileStoreProxyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FlowStoreProxyServlet</servlet-name>
        <url-pattern>/dk.dbc.dataio.gui.Main/FlowStoreProxy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JavaScriptProjectFetcher</servlet-name>
        <url-pattern>/dk.dbc.dataio.gui.Main/JavaScriptProjectFetcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobStoreProxyServlet</servlet-name>
        <url-pattern>/dk.dbc.dataio.gui.Main/JobStoreProxy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TickleHarvesterProxyServlet</servlet-name>
        <url-pattern>/dk.dbc.dataio.gui.Main/TickleHarvesterProxy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobRerunProxyServlet</servlet-name>
        <url-pattern>/dk.dbc.dataio.gui.Main/JobRerunProxy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogStoreProxyServlet</servlet-name>
        <url-pattern>/dk.dbc.dataio.gui.Main/LogStoreProxy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UrlResolverProxyServlet</servlet-name>
        <url-pattern>/dk.dbc.dataio.gui.Main/UrlResolverProxy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FtpProxy</servlet-name>
        <url-pattern>/dk.dbc.dataio.gui.Main/FtpProxy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UrlResolverServlet</servlet-name>
        <url-pattern>/urls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigProxy</servlet-name>
        <url-pattern>/dk.dbc.dataio.gui.Main/ConfigProxy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dk.dbc.dataio.gui.Main PeriodicJobsHarvesterProxy</servlet-name>
        <url-pattern>/dk.dbc.dataio.gui.Main/PeriodicJobsHarvesterProxy</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FileStoreAddFileProxy</servlet-name>
        <url-pattern>/dk.dbc.dataio.gui.Main/FileStoreAddFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileStoreProxy</servlet-name>
        <url-pattern>/dk.dbc.dataio.gui.Main/FileStoreProxy</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>gui.html</welcome-file>
    </welcome-file-list>
</web-app>
