**********************************
Fejlmeddelelse fra DanBibs Posthus
**********************************

Nedenstånde transfil mangler slut markering

Transfil: ${transfileName}

Transfil indhold:

${transfileContent}
