**********************************
Fejlmeddelelse fra DanBibs Posthus
**********************************

Trans fil               :     ${transfileName}
Besked                  :     ${cause}
Trans fil indhold       :

${transfileContent}


