**************************
Besked fra DanBibs Posthus
**************************

Bibliotek: ${specification.submitterId}
Batchnummer: ${specification.ancestry.batchId}
Transfil: ${specification.ancestry.transfile}
Filnavn: ${specification.ancestry.datafile}
Initialer: ${specification.resultmailInitials}
Job: ${jobId}
__DATE__{timeOfCreation}