<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE resources PUBLIC "-//GlassFish.org//DTD GlassFish Application Server 3.1 Resource Definitions//EN" "http://glassfish.org/dtds/glassfish-resources_1_5.dtd">
<resources>

  <jdbc-connection-pool datasource-classname="org.postgresql.ds.PGSimpleDataSource" name="jdbc/dataio/flowstore/pool" res-type="javax.sql.DataSource">
      <property name="PortNumber" value="5432"></property>
      <property name="DriverClass"  value="org.postgresql.Driver"></property>
      <property name="serverName"   value="{{getv "/dbc/postgres/flowstore/env/postgres/host"}}"></property>
      <property name="PortNumber" value="{{getv "/dbc/postgres/flowstore/env/postgres/port"}}"></property>
      <property name="password"     value="{{getv "/dbc/postgres/flowstore/env/postgres/password"}}"></property>
      <property name="DatabaseName" value="{{getv "/dbc/postgres/flowstore/env/postgres/db"}}"></property>
      <property name="user"         value="{{getv "/dbc/postgres/flowstore/env/postgres/user"}}"></property>
  </jdbc-connection-pool>

  <jdbc-resource pool-name="jdbc/dataio/flowstore/pool" jndi-name="jdbc/flowStoreDb"></jdbc-resource>

</resources>
