<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE resources PUBLIC "-//GlassFish.org//DTD GlassFish Application Server 3.1 Resource Definitions//EN"
        "http://glassfish.org/dtds/glassfish-resources_1_5.dtd">

<resources>
    <mail-resource host="{{getv "/dbc/mail/env/host"}}"
                   from="{{getv "/dbc/mail/env/from"}}"
                   user="{{getv "/dbc/mail/env/user"}}"
                   jndi-name="mail/dataio/jobstore/notifications">
        <property name="mail.mime.address.strict" value="true"></property>
        <property name="mail.to.fallback" value="{{getv "/dbc/mail/env/to/fallback"}}"></property>
        <property name="mail.debug" value="true"></property>
    </mail-resource>
</resources>