<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ DataIO - Data IO
  ~ Copyright (C) 2018 Dansk Bibliotekscenter a/s, Tempovej 7-11, DK-2750 Ballerup,
  ~ Denmark. CVR: 15149043
  ~
  ~ This file is part of DataIO.
  ~
  ~ DataIO is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ DataIO is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with DataIO.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE resources PUBLIC "-//GlassFish.org//DTD GlassFish Application Server 3.1 Resource Definitions//EN" "http://glassfish.org/dtds/glassfish-resources_1_5.dtd">
<resources>
    <jdbc-connection-pool datasource-classname="org.postgresql.ds.PGSimpleDataSource" name="jdbc/dataio/sink/marcconv/pool">
        <property name="user" value="{{getv "/dbc/postgres/marcconv/env/postgres/user"}}"></property>
        <property name="PortNumber" value="5432"></property>
        <property name="password" value="{{getv "/dbc/postgres/marcconv/env/postgres/password"}}"></property>
        <property name="DriverClass" value="org.postgresql.Driver"></property>
        <property name="DatabaseName" value="{{getv "/dbc/postgres/marcconv/env/postgres/db"}}"></property>
        <property name="serverName" value="{{getv "/dbc/postgres/marcconv/env/postgres/host"}}"></property>
    </jdbc-connection-pool>

    <jdbc-resource pool-name="jdbc/dataio/sink/marcconv/pool" jndi-name="jdbc/dataio/sink/marcconv"></jdbc-resource>
</resources>
