set server-config.jms-service.type=REMOTE --passwordfile=./passfile.txt
set server-config.jms-service.jms-host.default_JMS_host.host={{getv "/dbc/openmq/env/mq/host"}} --passwordfile=./passfile.txt
set server-config.jms-service.jms-host.default_JMS_host.port={{getv "/dbc/openmq/env/mq/port"}} --passwordfile=./passfile.txt
