<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE resources PUBLIC "-//GlassFish.org//DTD GlassFish Application Server 3.1 Resource Definitions//EN" "http://glassfish.org/dtds/glassfish-resources_1_5.dtd">
<resources>
    <admin-object-resource res-adapter="jmsra" res-type="javax.jms.Queue" jndi-name="jms/dataio/dmq">
        <property name="AddressList" value="{{getv "/dbc/openmq/env/mq/host"}}:{{getv "/dbc/openmq/env/mq/port"}}"></property>
        <property name="Name" value="mq.sys.dmq"></property>
    </admin-object-resource>

    <admin-object-resource res-adapter="jmsra" res-type="javax.jms.Queue" jndi-name="jms/dataio/sinks">
        <property name="Name" value="jmsDataioSinks"></property>
        <property name="AddressList" value="{{getv "/dbc/openmq/env/mq/host"}}:{{getv "/dbc/openmq/env/mq/port"}}"></property>
    </admin-object-resource>


    <admin-object-resource res-adapter="jmsra" res-type="javax.jms.Queue" jndi-name="jms/dataio/processor">
        <property name="Name" value="jmsDataioProcessor"></property>
        <property name="AddressList" value="{{getv "/dbc/openmq/env/mq/host"}}:{{getv "/dbc/openmq/env/mq/port"}}"></property>
    </admin-object-resource>
</resources>
