<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <env-entry>
    <env-entry-name>java:app/env/dataio/bfs/jndi/path</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>path/dataio/harvester/tmp</env-entry-value>
  </env-entry>
</web-app>